<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>identifier</key>
			<string>list-view</string>
			<key>actions</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>list-view</string>
					<key>type</key>
					<string>select-table-row</string>
					<key>customData</key>
					<dict>
						<key>row</key>
						<integer>3</integer>
						<key>section</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>login-view</string>
			<key>actions</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>login-url</string>
					<key>type</key>
					<string>stub-network-request</string>
					<key>customData</key>
					<dict>
						<key>json</key>
						<string>{&quot;success&quot;:&quot;true&quot;}</string>
						<key>response</key>
						<integer>200</integer>
						<key>url</key>
						<string>https://test.com/login_test.php</string>
					</dict>
				</dict>
				<dict>
					<key>identifier</key>
					<string>data-url</string>
					<key>type</key>
					<string>stub-network-request</string>
					<key>customData</key>
					<dict>
						<key>json</key>
						<string>{&quot;success&quot;:&quot;true&quot;}</string>
						<key>response</key>
						<integer>200</integer>
						<key>url</key>
						<string>https://test.com/data.php</string>
					</dict>
				</dict>
				<dict>
					<key>identifier</key>
					<string>email</string>
					<key>type</key>
					<string>type-into-textfield</string>
					<key>customData</key>
					<dict>
						<key>text</key>
						<string>email</string>
					</dict>
				</dict>
				<dict>
					<key>identifier</key>
					<string>password</string>
					<key>type</key>
					<string>type-into-secure-textfield</string>
					<key>customData</key>
					<dict>
						<key>text</key>
						<string>password</string>
					</dict>
				</dict>
				<dict>
					<key>identifier</key>
					<string>submit</string>
					<key>type</key>
					<string>tap-button</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>home-view</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>identifier</key>
			<string>list-view</string>
			<key>actions</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>list-view</string>
					<key>type</key>
					<string>select-table-row</string>
					<key>customData</key>
					<dict>
						<key>row</key>
						<integer>3</integer>
						<key>section</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>login-view</string>
			<key>actions</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>login-url</string>
					<key>type</key>
					<string>stub-network-request</string>
					<key>customData</key>
					<dict>
						<key>json</key>
						<string>{&quot;success&quot;:&quot;true&quot;}</string>
						<key>response</key>
						<integer>200</integer>
						<key>url</key>
						<string>https://test.com/login_test.php</string>
					</dict>
				</dict>
				<dict>
					<key>identifier</key>
					<string>data-url</string>
					<key>type</key>
					<string>stub-network-request</string>
					<key>customData</key>
					<dict>
						<key>json</key>
						<string>{&quot;success&quot;:&quot;true&quot;}</string>
						<key>response</key>
						<integer>400</integer>
						<key>url</key>
						<string>https://test.com/data.php</string>
					</dict>
				</dict>
				<dict>
					<key>identifier</key>
					<string>email</string>
					<key>type</key>
					<string>type-into-textfield</string>
					<key>customData</key>
					<dict>
						<key>text</key>
						<string>email</string>
					</dict>
				</dict>
				<dict>
					<key>identifier</key>
					<string>password</string>
					<key>type</key>
					<string>type-into-secure-textfield</string>
					<key>customData</key>
					<dict>
						<key>text</key>
						<string>password</string>
					</dict>
				</dict>
				<dict>
					<key>identifier</key>
					<string>submit</string>
					<key>type</key>
					<string>tap-button</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>alert</string>
		</dict>
	</array>
</array>
</plist>
